{% extends "layout.html" %}

{% block content %}
  <h2 class="title">Popular categories</h2>

  <div class="category-buttons">
    {% for cat in ['electric', 'suv','pickup truck', 'sedan', 'luxury', 'crossover', 'hybrid', 'diesel', 'coupe', 'hatchback', 'wagon', 'convertible', 'minivan', 'plug-in hybrid'] %}
      <a href="/category/{{ cat }}" class="{% if cat == active_category %}active{% endif %}">
        {{ cat.capitalize() }}
      </a>
    {% endfor %}
  </div>

  <div class="cards">
    {% for car in cars %}
      <div class="card">
        <img src="{{ car.img }}" alt="{{ car.name }}">
        <h3>{{ car.name }}</h3>
        <p><a href="/cars/{{ car.name.split(' ')[0] }}/{{ ' '.join(car.name.split(' ')[1:]) }}">Shop now</a></p>
      </div>
    {% endfor %}
  </div>

  <br>
  <br>

  <div class="prediction-section">
    <div class="prediction-content">
      <h2>Want to sell your car?</h2>
      <p>Use our intelligent system powered by machine learning to find the perfect market price of car for you.</p>
    </div>
    <div class="prediction-action">
      <a href="/predict/Electric" class="predict-btn">Go to Prediction</a>
    </div>
  </div>
  <hr>
  <br><br>
  <h1>Engineering Blogs</h1>
  <section class="features">
        <article> <a
                href="https://medium.com/@akshatsharma5877/a-story-of-drivetrains-fwd-rwd-awd-4wd-01287afd4985"
                class="image"><img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*ivmv-8ZfFJdFYg4JKwUAig.jpeg"
                    alt="" /></a>
            <h3 class="major">A Story of Drivetrains (FWD, RWD, AWD, 4WD)
            </h3>
            <p></p> <a
                href="https://medium.com/@akshatsharma5877/a-story-of-drivetrains-fwd-rwd-awd-4wd-01287afd4985"
                class="special">Learn more</a>
        </article>
        <article> <a
                href="https://medium.com/@akshatsharma5877/the-secret-personalities-of-car-engines-i-v-and-h-1ae03547c0c3"
                class="image"><img src="https://i.ytimg.com/vi/6mEuUeyHO-0/mqdefault.jpg"
                    alt="" /></a>
            <h3 class="major">The Secret Personalities of Car Engines: I, V and H</h3>
            <p></p> <a
                href="https://medium.com/@akshatsharma5877/the-secret-personalities-of-car-engines-i-v-and-h-1ae03547c0c3"
                class="special">Learn more</a>
        </article>
        <article> <a href="https://medium.com/@akshatsharma5877/how-evs-recharge-the-story-of-level-2-charging-vs-dc-fast-charging-b26de901d1b2"
                class="image"><img src="https://cdn-images-1.medium.com/max/1000/0*0uzLqzEqTNv9noz0"
                    alt="" /></a>
            <h3 class="major">How EVs Recharge: The Story of Level 2 Charging vs DC Fast Charging</h3>
            <p></p> <a href="https://medium.com/@akshatsharma5877/how-evs-recharge-the-story-of-level-2-charging-vs-dc-fast-charging-b26de901d1b2"
                class="special">Learn more</a>
        </article>
        <article> <a href="https://medium.com/@akshatsharma5877/engineering-behind-autonexus-project-c132608e9142" class="image"><img
                    src="https://miro.medium.com/v2/resize:fit:1100/format:webp/0*m2EfdskP6ZaelV91" alt="" /></a>
            <h3 class="major">Engineering behind the AutoNexus Project</h3>
            <p></p> <a href="https://medium.com/@akshatsharma5877/engineering-behind-autonexus-project-c132608e9142" class="special">Learn
                more</a>
        </article>
    </div>
    </section>
{% endblock %}
