name: CI Pipeline

on: push

jobs:
  Code-Quality:
    runs-on: ubuntu-latest
  
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
        
      - name: Cache pip dependescies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      
      - name: update pip
        run: |
          pip install --upgrade pip
      
      - name: Check import order
        run: |
          isort src/ --check-only --diff
          isort tests/ --check-only --diff
      
      - name: Check Formatting
        run: |
          black src/ --check --diff
          black tests/ --check --diff